body{
  background-color:#e8eaef;
}



.card {
    border-style: none;
    border-radius: 20px;
    display: block;
    height: 500px;
    margin: 40px auto;
    max-width: 360px;
  }
  
  .card-body {
    background:  linear-gradient(180deg, rgb(162, 218, 246) 0%, rgb(195, 246, 246) 23%, rgb(250, 245, 245) 90%);
    border: 2px hidden #8cdadb;
    border-radius: 20px;
    height: 520px;
    padding: 0;
    width: 360px;
  }
  
   
  .search-cities {
    position: relative;
    left: 10px;
    top: 20px;
    text-decoration: solid;
    width: 170px;
    height:35px;
    margin-right: 0px;
    border: 2px solid #fff;
    border-radius: 7px;
    z-index: 4px;
  }

  .form-control{
    height: 30px;
    font-size: 13px;
    font-family: "Comfortaa", cursive;
  
  }

  .lupa {
    border: solid #ffff 2px;
    border-radius: 7px;
    font-size: 12px;
    font-family: "Comfortaa", cursive;
    position: relative;
    left: 195px;
    bottom: 12px;
    background-color: transparent;
    width: 70px;
  }

  .lupa:hover{
    background: rgba(255, 255, 255, 0.5);
  }
  
  .current {
    border:solid #ffff 2px;
    border-radius: 7px;
    font-family: "Comfortaa", cursive;
    font-size: 12px;
    position: relative;
    left: 200px;
    bottom: 12px;
    background-color: transparent;
    width: 70px;
  }

  .current:hover{
    background: rgba(255, 255, 255, 0.5);
  }

  .line{ 
    border-bottom: 3px solid #fff;
    display: block;
    position: relative;
    top:10px;
  }

  h1 {
    color:black;
    font-family: "Comfortaa", cursive;
    padding-left: 15px;
    padding-top: 10px;
    margin: 0;
  }
  .moreInfo{
    color: black;
    display: block;
    font-family: "Comfortaa", cursive;
    font-size: small;
    position: relative;
    top: 1px;
    right:15px;
    padding-bottom: 5px;
    list-style-type:none;
    text-align: left;
  }
 
  .weatherDescription:first-letter{
    text-transform: capitalize;
  }
  
  h2 {
    color:black;
    display: block;
    font-family: "Comfortaa", cursive;
    font-size: 80px;
    text-align: right;
    position: relative;
    margin-right: 40px;
    bottom: 90px;
   
  }
  
  h5 {
    color: black;
    display: block;
    font-family: "Comfortaa", cursive;
    font-size: 30px;
    margin-top: 5px;
    position: relative;
    bottom: 200px;
    left:315px;
    width: 100%;
  }

  .underTemp{
    color: black;
    font-family: "Comfortaa", cursive;
    font-size: 11px;
    position: relative;
    bottom: 150px;
    right: 10px;
    text-align: right;
    list-style-type:none;

  }

  .row {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    position: relative;
    bottom: 140px;
    left: 200px;
    width: 150px;
    margin:0;
  }
  
  .col-6 {
    font-family: "Comfortaa", cursive;
    margin: 8px 0;
    font-size: 11px;
    text-align: center;
    
  }
  .weatherImage {
    position: relative;
    bottom: 410px;
    left: 10px;
    width: 180px;
    
  }

  .motivacional{
    position: relative;
    bottom: 425px;
    display: block;
    font-style: italic;
    text-align: center;
    font-size: 15px;
  }
  .bottomLine{
      position: relative;
      top: 10px;
      font-size: 12px;
      text-align: center;
  }

  .gitLink{
      text-decoration: none;
  }

    .gitLink:hover{
      text-decoration: underline;  
    }