.page-body{
  background-color:#fff;
  
}  


.card { 
    
  border-radius: 20px;
  box-shadow: -1px 1px 9px rgba(0, 0, 0, 0.3);
  display: block;
  height: 720px;
  margin: 30px auto;
  max-width: 450px;
  padding: 0;
  width: 100%;
}

/*Top*/
.form-control{
  border-radius: 7px;
  box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.4);
  height: 35px;
  font-size: 13px;
  font-family: 'Finger Paint', cursive;
  left: 10px;
  max-width: 365px;
  position: relative;
  text-decoration: solid;
  top: 20px;
}
.magni-img {
  bottom: 12px;
  left: 380px;
  position: relative;
  width: 30px;
}
.magni-img:hover{
  width: 31px;
}
.pin-img{
  bottom: 12px;
  left: 375px;
  position: relative;
  width: 28px;
}
.pin-img:hover{
 width: 30px;
}
.line-top{ 
  border-bottom: 3px solid #fff;
  display: block;
  position: relative;
  top:3px;
  width: 100%;
}

/*Weather Information*/
.city {
  color:black;
  font-family: 'Cabin Sketch', cursive;
  font-size: 4vw;
  margin: 0;
  padding-left: 15px;
  padding-top: 12px;
  width: 100%;
}
.more-info{
  color: black;
  display: block;
  font-family: 'Finger Paint', cursive;
  font-size: 12px;
  list-style-type:none;
  margin: 0px;
  padding: 0px 0px 5px 20px;
  text-align: left;
  width: 150px;
}
.weather-description:first-letter{
  text-transform: capitalize;
}
.weather.row{
  margin:0;
}
.current.left.col-6{
  background-color: transparent;
  border: none;
  bottom:0;
  box-shadow: none;
  height: 150px;
  left:0;
  margin: 8px 0;
  padding:0;
  position: absolute;
  top:55px;
  width: 450px;
}
.current.right.col-6{
  background-color: transparent;
  box-shadow: none;
  border:none;
  left:185px;
  position:relative;
  text-align: center;
  top:20px;
  width: 250px;
}
.size-temperature{
  height:145px;
  text-align: right;
}
.now-temperature {
  font-family: 'Cabin Sketch', cursive;
  font-size: 130px;
  left: 5px;
  margin: 0; 
  position: relative;
  text-align: right;  
} 
.celsius {
  font-family: 'Cabin Sketch', cursive;
  font-size: 60px;
  position: relative;
  text-align: right;
  top:-60px;
}
.under-temp{
  font-family: 'Finger Paint', cursive;
  font-size: 11px;
  list-style-type:none;
  text-align: right;
}

/*Forecast Information*/
.big-pin{
  left: 210px;
  max-width:60px;
  position: relative;
  top: -250px;
}
.forecast.row {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 5px 5px 2.5px rgb(0, 0, 0, 0.2);
  left: 230px;
  margin:0;
  max-width: 200px;
  position: relative;
  top:35px;
}
.forecast.col-6 {
  font-family: 'Finger Paint', cursive;
  font-size: 13px;
  margin: 8px 0;
  text-align: center;  
}
.forecast-min{
  opacity: 0.5;
}

/*Background Image*/
.weather-img {
  border-radius: 5px;
  left:15px;
  max-width: 200px; 
  max-height: 450px;
  position: absolute;
  top:200px;
}

/*Post-it*/
.pink-tape-l{
  filter:  contrast(180%) saturate(257%);
  left: 13px;
  max-width:60px;
  position: absolute;
  top: 590px;
  transform: rotateZ(321deg);
}
.motivacional{
  align-items: center;
  background: rgba(245, 241, 13, 0.6);
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  font-size: 17px;
  font-family: 'Sunshiney', cursive;
  height: 110px;
  justify-content: center;
  left: 30px;
  max-width: 160px;
  position: relative;
  top:-45px;
  text-align: center;
  text-indent: 7%;  
}
.pink-tape-r{
  filter:  contrast(180%) saturate(257%);
  left:150px;
  max-width:60px;
  position: absolute;
  transform:  rotateZ(321deg);
  top: 680px;
}

/*Stickers Bottom*/
.hide{
  color:transparent;
  text-decoration: transparent;
  cursor:pointer;
  width: 0;
  height: 0;
}
.sticker-git{
  left: 235px;
  max-width: 60px;
  position: relative;
  top: -140px;
}
.hide-git{
  color: black;
  bottom: 10px;
  display: none;
  font-family: 'Finger Paint', cursive;
  font-size: 10px;
  left: 220px;
  position: absolute;

}
.sticker-git:hover{
  max-width: 65px;
}
.sticker-git:hover +.hide-git {
  display:block;
}
.sticker-lkd{
  left: 245px;
  max-width: 50px;
  position: relative;
  top: -140px;
}
.hide-lkd{
  bottom: 10px;
  color: black;
  display: none;
  font-family: 'Finger Paint', cursive;
  font-size: 10px;
  left: 315px;
  position: absolute;
}
.sticker-lkd:hover{
  max-width: 55px;
}
.sticker-lkd:hover +.hide-lkd {
  display:block;
}
.sticker-mj{
  left: 255px;
  max-width: 40px;
  position: relative;
  top: -140px;
}
.hide-mj{
  bottom: 5px;
  color: black;
  display: none;
  font-family: 'Finger Paint', cursive;
  font-size: 10px;
  left: 245px;
  position: absolute;
}
.sticker-mj:hover{
  max-width: 45px;
}
.sticker-mj:hover +.hide-mj {
  display:block;
} 
